:root {
  --background: #ffffff;
  --fontColor: #000000;
  --themeBackground: orange;
  --lightGreen: #39c5bb;
  --gradualRed: linear-gradient(to right, #ff4b2b, #ff416c);
  --gradientBG: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --toolbarFont: #333333;
  --toolbarBackground: rgba(255,255,255,1);
  --articleFontColor: #1f1f1f;
  --articleGreyFontColor: #616161;
  --greyFont: #797979;
  --maxGreyFont: #595a5a;
  --borderColor: rgba(0,0,0,0.5);
  --borderHoverColor: rgba(110,110,110,0.4);
  --commentContent: #f7f9fe;
  --favoriteBg: #f7f9fe;
  --whiteMask: rgba(255,255,255,0.3);
  --maxWhiteMask: rgba(255,255,255,0.5);
  --maxMaxWhiteMask: rgba(255,255,255,0.7);
  --miniWhiteMask: rgba(255,255,255,0.15);
  --transparent: rgba(0,0,0,0);
  --miniMask: rgba(0,0,0,0.15);
  --mask: rgba(0,0,0,0.3);
  --translucent: rgba(0,0,0,0.5);
  --maxMask: rgba(0,0,0,0.7);
  --white: #ffffff;
  --red: #ff0000;
  --lightRed: #ff4b2b;
  --maxLightRed: #ff416c;
  --orangeRed: #ef794f;
  --azure: #ecf7fe;
  --blue: rgb(3,169,244);
  --lightGray: #dddddd;
  --maxLightGray: #eeeeee;
  --maxMaxLightGray: rgba(242,242,242,0.5);
  --green: #67c23a;
  --black: #000000;
  --lightYellow: #f4e1c0;
  --globalFont: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
}

[data-theme='dark'] {
  --background: #272727;
  --fontColor: #ffffff;
  --toolbarBackground: rgba(39,39,39,1);
  --toolbarFont: #ffffff;
  --articleFontColor: #e4e4e4;
  --articleGreyFontColor: #d4d4d4;
  --borderColor: #4f4f4f;
  --borderHoverColor: #000000;
  --commentContent: #d4d4d4;
  --favoriteBg: #1e1e1e;
}
